@page
@model Environmental_Clreance_MGT.Pages.REMA.Staff.AssessorDashModel
@{
    Layout = "";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Registration form</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/StaffReg.css" asp-append-version="true" />
</head>
<body>
    <br />
    <br />
    <br />
    <h1>Hello Welcome To Assess Dashboard Dashbord</h1>
</body>
</html>