@page
@model Environmental_Clreance_MGT.Pages.REMA.Staff.workerRegisterationModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/Style.css">
    <title>Staff Login</title>

    <style>

    </style>
</head>
<body>
    <br /><br />
    <br />
    <br />
    <div class="container-fluid">
        <form class="mx-auto">
            <h1 class="text-center">Worker Registeration Form</h1>
            <div class="mb-3 mt-5">
                <label for="exampleInputEmail1" class="form-label">Worker ID :</label>
                <input type="email"  name="fullname" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Email :</label>
                <input type="password" name="email" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password :</label>
                <input type="password" name="email" class="form-control">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Phone Number :</label>
                <input type="password" name="email" class="form-control">
            </div>
            <div class="mb-3 form-select">
                <label for="exampleInputPassword1" class="form-label">Role :</label>
                <select class="form-select" name="role" aria-label="Default select example">
                    <option selected>Reviewer</option>
                    <option value="Admin">Assessor</option>
                </select>
            </div>
            <div class="mb-3 form-select">
                <label for="exampleInputPassword1" class="form-label">Level OF Education :</label>
                <select class="form-select" name="loe" aria-label="Default select example">
                    <option selected>Masters</option>
                    <option value="Admin">bachelor's</option>
                </select>
            </div>

            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary mt-5">\</button>
            </div>
        </form>
    </div>
            
    </body>

    </html>

          