@page
@model Environmental_Clreance_MGT.Pages.REMA.Applicant.customerLoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Environmental_Clreance_MGT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Environmental_Clreance_MGT.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>
<body>
</section>

<section class="section-cta" id="cta">
    <div class="container">
        <div class="cta">
            <div class="cta-text-box">
                <h2 class="heading-secondary">Login</h2>


                <form class="cta-form" name="sign-up" netlify>


                    <div>
                        <label for="email">Email address</label>
                        <input id="email"
                               type="email"
                               placeholder="me@example.com"
                               name="email"
                               required />
                    </div>

                    <div>
                        <label for="password">Password</label>
                        <input id="password"
                               type="password"
                               placeholder="password"
                               name="password"
                               required />
                    </div>



                    <button class="btn btn--form">Login now</button>

                    <!-- <input type="checkbox" />
                    <input type="number" /> -->
                </form>
            </div>
            <div class="cta-img-box"
                 role="img"
                 aria-label=""></div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Script.js" asp-append-version="true"></script>

</body>
</html>